@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body{
  padding: 45px;
  background-color: #FFDF8C;
}

.product-item[data-state="active"]{
  background-color: white !important;
}